* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  font-size: 40px;
}
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#e66465, #9198e5);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.text {
  transition: all 0.4s ease;
  text-align: center;
  color: #fff;
  line-height: 60px;
}

.text:hover {
  color: #000;
  transform: scale(1.05);
}
.text_hidden {
  opacity: 0;
}
